header {
  color: white;
  position: absolute;
  top: 0;
  font-size: 0.7rem;
  width: 100.1%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #771149 0%, #bf5a7b 50%, #750f47 100%);
  text-transform: uppercase;
  height: 3rem;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid #3a0723;
  .titulo {
    h1 {
      margin-bottom: 0;
    }
  }
}